In [19]:
import init_db
betas = init_db.sql_to_pd('results.sql','beta').iloc[:1000,]
betas

    sim_id  n_steps  parameter  estimate   std
0        1      100          d -0.016649  None
1        1       95          d  0.051387  None
2        1       90          d  0.008225  None
3        1       85          d  0.008225  None
4        1       80          d  0.008225  None
..     ...      ...        ...       ...   ...
935      1       70  d_state37  0.003338  None
936      1       70  d_state33 -0.012531  None
937      1       70  d_state46  0.027874  None
938      1       70  d_state32  0.017091  None
939      1       70  d_state20  0.001706  None

[940 rows x 5 columns]

In [20]:
sims = init_db.sql_to_pd('results.sql','sim_results')
sims

,sim_id,treatment_year_mu,treatment_year_sigma,exog_growth_sigma,exog_control_explained_sigma,treatment_effect_mu,treatment_effect_sigma,spatial_autocorrelation_pct,regional_growth_predictors
0,1,15,0,0.0,0.0,0.01,0.01,0.0,none

In [18]:
betas.head(120)

    sim_id  n_steps parameter  estimate   std
0        1      100         d  0.017762  None
1        1       95         d  0.042454  None
2        1       90         d  0.010060  None
3        1       85         d  0.010060  None
4        1       80         d  0.010060  None
..     ...      ...       ...       ...   ...
115      1       95     d_t30  0.104433  None
116      1       95     d_t31  0.098166  None
117      1       95     d_t32  0.089682  None
118      1       95     d_t33  0.091379  None
119      1       95     d_t34  0.091379  None

[120 rows x 5 columns]

In [9]:
betas.tail(20)

    sim_id                           n_steps  parameter  estimate   std
980   None  b'<\x00\x00\x00\x00\x00\x00\x00'  d_state10  0.008782  None
981   None  b'<\x00\x00\x00\x00\x00\x00\x00'   d_state1  0.016042  None
982   None  b'<\x00\x00\x00\x00\x00\x00\x00'  d_state44  0.014312  None
983   None  b'<\x00\x00\x00\x00\x00\x00\x00'  d_state35   0.01459  None
984   None  b'<\x00\x00\x00\x00\x00\x00\x00'   d_state8   0.01629  None
985   None  b'<\x00\x00\x00\x00\x00\x00\x00'  d_state47  0.003735  None
986   None  b'<\x00\x00\x00\x00\x00\x00\x00'  d_state14  0.009653  None
987   None  b'<\x00\x00\x00\x00\x00\x00\x00'  d_state42  0.036147  None
988   None  b'<\x00\x00\x00\x00\x00\x00\x00'  d_state16  0.003741  None
989   None  b'<\x00\x00\x00\x00\x00\x00\x00'  d_state45  0.022584  None
990   None  b'7\x00\x00\x00\x00\x00\x00\x00'  d_state18  0.008105  None
991   None  b'7\x00\x00\x00\x00\x00\x00\x00'  d_state36   0.01997  None
992   None  b'7\x00\x00\x00\x00\x00\x00\x00'  d_state20  0.020247  None
993   None  b'7\x00\x00\x00\x00\x00\x00\x00'  d_state50  0.005685  None
994   None  b'7\x00\x00\x00\x00\x00\x00\x00'   d_state3   0.00646  None
995   None  b'7\x00\x00\x00\x00\x00\x00\x00'  d_state25  0.015289  None
996   None  b'7\x00\x00\x00\x00\x00\x00\x00'   d_state0  0.007415  None
997   None  b'7\x00\x00\x00\x00\x00\x00\x00'   d_state5  0.006445  None
998   None  b'7\x00\x00\x00\x00\x00\x00\x00'  d_state40   0.01197  None
999   None  b'7\x00\x00\x00\x00\x00\x00\x00'  d_state17 -0.005352  None